<%- contentFor('body') %>

<div class="tracking-wrapper">
    <div id="map" class="map">
        <img class="map-img" src="../Public/assets/tracking2.svg"/>
    </div>
    
        <div class="table">
            <div class="roow">
                <div class="head">#</div>
                <div class="head">Driver Name</div>
                <div class="head">Status</div>
                <div class="head">Route</div>
            </div>
    
            <% Drivers.forEach(driver => { %>
                <div class="roow">
                    <div class="tdata"><%= driver.id %></div>
                    <div class="tdata"><%= driver.driver %></div>
                    <div class="tdata">
                        <div class="status"
                            style="<%= driver.status ? 'background-color: #ffc017' : 'background-color: #384850'%>">
                            <%= driver.status ? 'active' : 'inactive' %>
                        </div>
                    </div>
                    <div class="tdata">
                        <button class="btn"
                            onclick="initPreview('<%= JSON.stringify(driver.wayPoints) %>')">
                            <img src="../Public/assets/preview.png" width="25px" height="25px">
                            Preview
                        </button>
                        <button class="btn btn_live <%= driver.status ? 'active' : 'disabled' %>"
                            onclick="initTrack('<%= JSON.stringify(driver.tracking) %>')">
                            <img src="../Public/assets/tracking.png" width="25px" height="25px">
                            Live
                            <span class="<%= driver.status ? 'live-on' : 'live-off' %>"></span>
                        </button>
                    </div>
                </div>
            <% }) %>
            </div>
</div>